server/__pycache__/
server/env
.DS_Store
dist
server/*.pyc
*.pyc
server/.DS_Store
*.pyc
*.pyc
server/__pycache__/security.cpython-310.pyc
server/__pycache__/sendmail.cpython-310.pyc
.DS_Store
.DS_Store
.DS_Store
