body{
    height:100%;
    overflow-y: scroll;
    overflow-y: auto;
}

video{
    position:absolute;
    right:-200;
    z-index: -1;
}

#exploreButton{
    text-align: center;
    margin-right: 200px;
}

nav{
    background-color: rgba(0, 0, 0);
    height:70px;
}

#exploreButton1{
    text-decoration: none;
    display:inline-block;
    color:white;
    font-size: 24px;
    border:2px solid white;
    padding:14px 70px;
    border-radius:50px;
    margin-top:20px;
    position: absolute;
    top: 30%;
}

#exploreButton1{
    text-decoration: none;
    display:inline-block;
    color:white;
    box-shadow: 0 0.1px 5px rgb(233, 232, 234);
    font-size: 24px;
    border:2px solid white;
    padding:14px 70px;
    border-radius:50px;
    margin-top:20px;
    position: absolute;
    top: 30%;
}
#exploreButton1:hover{
    transition: 1s;
    text-decoration: none;
    display:inline-block;
    color:white;
    box-shadow: 0 5px 15px rgb(233, 232, 234);
    font-size: 27px;
    border:2px solid white;
    padding:14px 70px;
    border-radius:50px;
    margin-top:20px;
    position: absolute;
    top: 30%;
}

.App-logo{
    color:rgb(210, 223, 234);
    width:40px;
    margin:10px 10px;
}