.register-form
{
    background-color:rgba(212, 205, 205, 0.9);
    margin: 5% 35% 10%;
    padding: 1%;
    border-radius: 10px;
}
.register-form label{
    color:  #393232;
}

.register-form h1{
    color: #1d1919;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(36, 33, 33);
}

.register-form input:disabled{
    background-color: gray;
}